@use "colours";
@use "fonts";

$fontbase: 1.1rem;
$leading: 1.4;
$viewfactor: 1.5vmin;

$unit: calc((#{$fontbase} + #{$viewfactor}) * #{$leading});
$roundness: calc(#{$unit} * 0.4);
$roundness-small: calc(#{$unit} * 0.2);

$content-max-width: calc(#{$unit} * 18);

$contentTrans: 0.2s;
$elemTrans: 0.1s;

$icon-breakpoint: 45em;

@mixin font($weight, $style, $scale, $type) {
  font-weight: $weight;
  font-style: $style;

  @if $type == disp {
    $leading: 1;
    $viewfactor: $viewfactor * 0.5;
  }

  font-size: calc((#{$fontbase} + #{$viewfactor}) * #{$scale});
  line-height: calc(((#{$fontbase} + #{$viewfactor}) * #{$leading}) * #{$scale});
}

* {
  box-sizing: border-box;
  margin-block: unset;
  margin-inline: unset;
}

html {
  scroll-behavior: smooth;
}

body {
  background: colours.$site-bg;
  font-family: "Fira Sans", sans-serif;
  @include font(400, normal, 0.7, body);
  color: colours.$content-running-text;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  font-variant-numeric: oldstyle-nums proportional-nums;
}

.main,
html {
  background: colours.$site-page-bg;
}

%content {
  max-width: $content-max-width;
  margin: calc(#{$unit} * 2) auto;
}

section {
  @extend %content;
}

h1,
.subheading-block,
.intro {
  position: relative;
  z-index: 2;
}

h1 {
  margin: unset;
  padding: calc(#{$unit} * 1) 0 calc(#{$unit} * 2) 0;
  @include font(1000, normal, 2.8, disp);
  color: colours.$site-nav-ind;
  mix-blend-mode: hard-light;
  opacity: 0.85;
}

%button {
  display: inline-block;
  padding: calc(#{$unit} * 0.2) calc(#{$viewfactor} * 2);
  cursor: pointer;
  border: solid calc(#{$unit} * 0.14);
  border-radius: calc(#{$viewfactor} * 100);
  color: colours.$content-running-text-bright;
  @include font(800, normal, 0.7, body);
  letter-spacing: calc(#{$unit} * 0.02);
  text-align: center;
  text-decoration: none;
  transition: color $elemTrans ease-in-out, background $elemTrans ease-in-out, border $elemTrans ease-in-out;
}

.button-tertiary {
  @extend %button;
  background: colours.$site-btn-ter;
  border-color: colours.$site-btn-ter-cont;
  color: colours.$site-btn-ter-col;
  &:hover:not(.button-disabled),
  &:focus:not(.button-disabled) {
    background: colours.$content-running-text-bright;
    border-color: colours.$site-hero-dark;
    color: colours.$site-hero-dark;
  }
  &:active:not(.button-disabled),
  &.selected:not(.button-disabled) {
    background: colours.$content-running-text-bright;
    border-color: colours.$site-nav-ind;
    color: colours.$site-btn-pri;
    font-style: italic;
  }
}

.button-disabled {
  filter: grayscale(100%) contrast(35%) brightness(150%);
}

::selection {
  background: colours.$content-sec-text-light;
}

*:focus:not([class]) {
  outline: calc(#{$unit} * 0.1) dashed colours.$site-nav-ind-dark;
}
